Source: uget-chrome-wrapper
Section: utils
Priority: optional
Maintainer: Loganathan Gobinath <slgobinath@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://slgobinath.github.io/uget-chrome-wrapper/

Package: uget-chrome-wrapper
Architecture: any
Depends: uget (>= 2.0.2), python3 (>= 3.4.0)
Description: uGet Chrome Wrapper
 Integrate uGet Download manager with Google Chrome, Chromium, Vivaldi and Opera
